<div id="home-banner">
  <div id="home-banner-text">
    <!-- logo -->
    <h2>Creating high performing teams</h2>
    <p>We believe that leaders and teams can always get better. Striving for better is both healthy and something you can habituate. So teamup∞™ offer a range of solutions built on neuroscience designed to accelerate individual and team performance.</p>
  </div>
</div>
