<style>
  p {
    font-family: sans-serif;
  }
</style>

<p>Dear <%= @contact.name %>,</p>

<p>Thank you for your contact and interesse in finding out more about our <strong><%= @contact.title %></strong> solution.</p>

<p>Please see attached the <%= @contact.title %> sample report</p>

<%#= image_tag attachments['teamup_180.jpg'].url %>

<p>Best,</p>

<p>teamup signature</p>
