footer {
  position: relative;
  height: 200px;
  width: 100%;
  background-color: white;
  // box-shadow: 0 4px 14px 0 rgba(0,0,0,0.2);
  .container {
    margin-left: 123px;
  }
}

#footer-padding {
  padding-top: 84px;
  text-align: center;

  li {
    list-style: none;
    color: var(--teamupGrey);
  }
}

#footer-address {
  color: var(--teamupGrey);
}

#footer-designer {
  font-size: 10px;
  text-align: center;
  color: var(--teamupGrey);
}
